<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="h-screen w-full bg-zinc-900 flex flex-col gap-5 p-10 text-white">
    <nav class="flex gap-3 text-sm">
            <a href="/">Home</a>
            <a href="/Users">All Users</a>
    </nav>
    <h1 class="text-xl">USERS</h1>
    <% users.forEach(function(user){ %>
        <div class="px-2  py-2 w-fit h-fit rounded-md bg-zinc-800">
            <h1 class="text-sm"> <%= user.name %></h1>
            <h5 class="text-sm opacity-50 mb-3"><%= user.email %></h5>
            <a class="text-sm text-red-500 mr-4" href="/delete/<%= user.id %>">delete</a>
            <a class="text-sm" href="/update/<%= user.id %>">edit</a>
        </div>
   <% }) %>
</div>
</body>
</html>